<html>
	<head>
		<title>Django Flavored Girlblog</title>
	</head>

	<body>
		<div>
			<h1><a href="">Django Flavored Girlblog</a></h1>
		</div>

		<div>
			<p>published 8.15.2017</p>
			<h2><a href="">My first entry</a></h2>
			<p>This is a static text block that lives inside an html file, which is really not how things should be done in this day and age.  What are we, savages?</p>

		</div>
		
		<div>

			<p>published: 15.08.2017
			<h2><a href="">My second entry!</a></h2>
			<p>Writing all of this stuff is sooooo much fun!  Sarcasm is awesome!  YOU'RE awesome!!!</p>
		</div>
		
		
	</body>
</html>
